pandas==2.2.2
numpy==2.0.1
ccxt==4.4.48
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
python-dotenv==1.0.1
celery==5.4.0
six==1.16.0
redis==5.0.8
requests==2.32.3
optuna==3.6.1
scipy==1.13.1
loguru==0.7.2
pydantic==2.8.2
scikit-learn==1.5.2
lightgbm==4.5.0
xgboost==2.1.1
statsmodels==0.14.2
tenacity==9.0.0
orjson==3.10.7
